@import "tailwindcss";  /* por si no cargan cambios de estilos tailwind " npx @tailwindcss/cli -i ./css/input.css -o ./css/main.css --minify" */
@source "../"; 

@theme {
  /*  colores personalizados */
  --color-banda-dark: #0a0a0a;
  --color-banda-light: #d9e0e0;
  --color-banda-primary: #cf9e28;
  --color-banda-secondary: #8e5110;
  --color-banda-blueLight: #aac2cc;
  --color-banda-blueDark: #86a7b4;

  /*  fuentes personalizadas */
  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
}

/*  estilos base */
body { 
  font-family: var(--font-body); 
  background-color: var(--color-banda-dark); 
  color: #f3f4f6; 
}

h1, h2, h3, .font-display { 
  font-family: var(--font-display); 
}

@media print {
    /* 1. Apagar elementos interactivos y conflictivos */
    nav, iframe, button, .swiper-pagination, .swiper-button-next, .swiper-button-prev, #btn-bio {
        display: none !important;
    }

    /* 2. Quitar el "modo pantalla" al Carrusel para que no ocupe hojas enteras en negro */
    header {
        height: auto !important;
        min-height: 0 !important;
        padding-top: 40px;
    }
    .swiper-slide {
        height: auto !important;
        position: relative !important;
    }
    .swiper-slide:not(.swiper-slide-active) {
        display: none !important; /* Solo imprime la primera pantalla del carrusel */
    }

    /* 3. Forzar el fondo oscuro (Depende de que el usuario active "Gráficos de fondo" al imprimir) */
    body, .bg-gray-900, .bg-banda-dark {
        background-color: #0a0a0a !important;
        color: #d9e0e0 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* 4. Evitar que las fotos de la galería se expandan y rompan la hoja */
    #galeria img {
        max-height: 250px !important;
        width: auto !important;
        object-fit: contain !important;
        page-break-inside: avoid;
    }

    /* 5. Asegurar que las secciones no se corten a la mitad */
    section {
        page-break-inside: avoid;
        margin-bottom: 20px !important;
    }
}